*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    background-attachment: fixed;
}

body {
    font: 100%/1.375 Amarante, Georgia, serif;
    color: #201b1a;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

body:before {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    content: "";
    height: 15px;
    left: 0;
    position: fixed;
    top: -15px;
    width: 100%;
    z-index: -1;
}

h1,
.recipe-text h2 {
    background-position: center;
}

h1,
.recipe-text {
    background-image: url(../img/recipes/border.png);
    background-repeat: round;
}

h1 {
    font-size: 2em;
    padding: 1em 0 .25em;
    font-family: 'Rye', Georgia, serif;
    margin: 0;
    color: rgb(59, 17, 17);
    text-align: center;
    border-top: 4px solid rgb(216, 35, 35);
    border-bottom: 4px solid rgb(216, 35, 35);
    position: relative;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.747), 1px 1px 0px #e74924, 2px 2px 0px #000;
    box-shadow: inset 0px 0px 4px 1px hsl(18, 10%, 20%);
}

h1 span:first-child {
    margin-top: 0;
}

h1 span:nth-child(2) {
    font-size: .75em;
    display: inline-block;
}

h2 {
    font-size: 1.5em;
}

p {
    margin: 0;
    padding: .5em 0;
}

img {
    max-width: 100%;
}

.recipe {
    position: relative;
    border-radius: 20%;
    background-image: url(../img/recipes/background.jpg);
    margin: 1em auto 6em;
    margin-top: 10%;
    padding-bottom: 2em;
    max-width: 70em;
    overflow: auto;
    border: 0.25em solid #e7d570;
    border-left-width: .5em;
    border-right-width: .5em;
    box-shadow: -3px -3px 6em #c9a480, 0 0 1em #cfa77f, 3px 3px 6em #d3ad86;
    overflow-x: hidden;
}

.recipe-text {
    margin: 0 auto 2em;
    margin-left: 14em;
    padding: 0 1em 1em;
    background-position: center;
    background-color: #fbf8e9;
    position: relative;
    overflow: visible;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, .75);
}

.recipe-text h2 {
    text-indent: 1.5em;
    margin: 0 -.6em;
    padding: 1em 0 .5em 0;
}

.recipe h2::after {
    background: none;
}

.recipe-text p {
    font-size: 1.25em;
    background-color: hsl(76, 76%, 24%);
    margin: 0 -1em;
    margin-bottom: 5px;
    color: #fffdf5;
    padding: 1em 1em 1em;
    letter-spacing: 1px;
    word-spacing: -1px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, .95);
    -webkit-font-smoothing: antialiased;
}

.recipe-text ul {
    list-style: none;
    background-color: rgb(211, 240, 66);
    background-repeat: repeat-x;
    letter-spacing: 1px;
    margin: 0 -1em 2em;
    border: 1em solid #fbf8e9;
    padding: 2em 1em 3em;
    position: relative;
    transition: all .25s ease-in-out;
}

.recipe-text ul li:before {
    content: "\2605";
    color: #80970B;
    margin-right: .25em;
}

.recipe-directions {
    width: 90%;
    margin: 0 auto;
    clear: left;
}

.note {
    line-height: 1;
    padding: 0 2em;
    background-image: url(../img/recipes/note.jpg);
    border: 1px solid #eee;
    position: relative;
    z-index: 2;
    box-shadow: 1px 2px 12px hsla(0, 0%, 0%, .75);
}

.note h2,
.note p {
    margin: 0;
    line-height: 30px;
    border-left-color: hsla(11, 80%, 52%, 0.3);
}

.note h2 {
    padding: 37px 0 3px;
}

.note ul {
    line-height: 1.7;
}

.note li::before {
    content: "➜";
    margin-right: 30px;
}

.note p {
    padding: 0 0 1em;
    -webkit-font-smoothing: antialiased;
}

.note p:last-child {
    padding-top: 1em;
    background: #e74924;
    color: #fff;
    margin-top: 3%;
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}

.note::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: .5em 0 0 45%;
    background-color: #e9310c;
    border: 1px solid #611405;
    border-radius: 50%;
    z-index: 1;
}

@media (min-width: 564px) {
    .recipe-text {
        float: left;
    }
    .recipe-text,
    .recipe-directions {
        width: 60%;
    }
}

@media (min-width: 590px) {
    h1 span {
        color: yellow;
        text-shadow: -1px -1px 1px #fff, 1px 1px 2px #5c190a;
    }
    h1 span::before {
        margin-right: .2em;
    }
    h1 span::after {
        margin-left: .2em;
    }
}

@media (min-width: 1035px) {
    h1 {
        font-size: 4.5em;
        padding: .75em .25em .25em .25em;
    }
    h1 span {
        display: block;
    }
    .recipe {
        box-shadow: -3px -3px 6em #161412, 0 0 1em #161412, 3px 3px 6em #161412;
    }
    .row {
        overflow: auto;
        position: relative;
        top: -9em;
        padding-top: 10em;
        margin-bottom: -10em;
        z-index: 1;
    }
    .row:before {
        left: 0;
    }
    .row:after {
        right: 0;
        z-index: -1;
    }
}

.note img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 0%;
    border: 0em solid rgb(243, 238, 238);
}

.recipe-image_left img {
    width: 212px;
    height: 200px;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 2%;
    border: 0.5em solid rgb(235, 71, 71);
}

.recipe-image_right img {
    width: 212px;
    height: 200px;
    border-radius: 50%;
    margin-left: 78%;
    margin-top: -139%;
    border: 0.5em solid rgb(235, 71, 71);
}