body {
    background-attachment: fixed;
}

.column a {
    text-decoration: none;
    color: white;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 10px;
}

.row {
    margin: 50px 0px;
    margin-left: 18%;
}

#header .row {
    margin: 0px 0px;
    margin-left: 0;
}

#contact .row {
    margin: 0px 0px;
    margin-left: -2%;
    margin-right: -2%;
}

.all {
    margin-left: 19%;
    color: #fff;
    font-family: "Brush Script MT", cursive;
    font-size: 3em;
    font-weight: 300;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 8px 15px 0 rgb(32, 10, 10);
    padding: 15px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 2%;
}

.card:hover {
    box-shadow: 0px 7px 25px 0px rgb(221, 212, 82);
    padding: 16px;
    cursor: pointer;
    border-right: 6px solid rgb(245, 182, 11);
    border-bottom: 7px solid rgb(245, 182, 11);
    border-style: outset;
}

.card:hover h4 {
    color: brown;
}

.card p {
    margin-top: 11%;
    margin-bottom: 5%;
    color: rgb(54, 53, 53);
}

.card:hover p {
    color: brown;
}

.card h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: large;
    text-transform: none;
}

img {
    opacity: 1;
    width: 100%;
    transition: all 1.3s ease;
}

img:hover {
    opacity: 1;
    transform: scale(1.6);
}


/*
.arrow {
    border: solid rgb(240, 212, 160);
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 3px;
    height: 3vw;
    width: 3vw;
}

.arrow:hover {
    border-bottom-width: 6px;
    border-right-width: 6px;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
*/